<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RentacarDatos.Settings1.CadenaArchivo" connectionString="Data Source=DESKTOP-C8D8LVA;Initial Catalog=rentacar;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="RentacarDatos.Settings1.cadena" connectionString="Data Source=.;Initial Catalog=rentacar;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>